.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 56px;
}


.form {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.form > div {
    margin-bottom: 15px;
}

.submit {
    background-color: #00203FFF !important;
    color: white !important;
    border-radius: 10px !important;
}

.link {
    text-decoration: none;
    color: #00203FFF;
}