.container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.form {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttons2 {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.step2form {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 100%;
  padding-top: 5%;
  margin-bottom: 50px;
}
